@font-face {
  font-family: "Luciole";
  src: url("fonts/Luciole-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Luciole", sans-serif;
  background-color: #efe9e4;
}

.presentation {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  gap: 50px;
}

.presentation_photo {
  width: 25%;
  border-radius: 15px;
  margin-left: 200px;
  margin-top: 150px;
}

.presentation_text {
  color: #5e5343;
  text-align: justify;
}

.presentation_title {
  font-size: 50px;
}
.presentation_subtitle {
  font-size: 30px;
}
.presentation_description {
  font-size: 20px;
}
