@font-face {
  font-family: "Luciole";
  src: url("fonts/Luciole-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Luciole", sans-serif;
  background-color: #efe9e4;
}

.section {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  gap: 70px;
}

.section_photo {
  width: 25%;
  border-radius: 15px;
  margin-top: 130px;
}
.presentation_photo {
  margin-left: 200px;
}
.section_text {
  color: #5e5343;
  text-align: justify;
}

.section_title {
  font-size: 50px;
  margin-top: 100px;
}
.section_subtitle {
  font-size: 30px;
}
.section_description {
  font-size: 20px;
  width: 70%;
}

/*navigation*/
.navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 200px;
  padding: 0;
  transform: translateX(
    -100%
  ); /* Positionne le menu en dehors de l'écran à gauche */
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.navigation.show {
  transform: translateX(0); /* Ramène le menu à sa position d'origine */
  opacity: 1;
}

.navigation_content {
  flex: 1;
  text-align: center;
  margin: 0 10px;
  color: #5e5343;
  font-size: 20px;
}

.navigation_content:hover {
  background-color: white;
  cursor: pointer;
}
/*formation*/

.formation {
  margin-left: 200px;
}
.formation_photo {
  margin-right: 320px;
  width: 30%;
}

.formation_subtitle {
  font-size: 15px;
}
